.ResultArea {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.ResultArea .Card {
  padding: 12px;
  margin: 3px;
  cursor: pointer;
  border: 2px solid #D4D4D4;
  border-radius: 4px;
}
.ResultArea .Card.selected,
.ResultArea .Card:hover {
  border-color: #29B9AD;
  background-color: #00DBCD;
}

.ResultArea .Card .key {
  margin-right: 6px;
  font-weight: bold;
}